*.DS_Store*

# just a little crazy about sass cache.  this def takes care of ALL OF IT
.scssc
*.scssc
.sass-cache
*.sass-cache/
**/.sass-cache
**/.sass-cache/*

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
*.sassc
*.scssc


# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.buildpath
.tmproj
node_modules
config.codekit
*bower_components*
*.pre-css*
