{% extends "_base.njk" %}

{% set title = "Thanh's Portfolio Page" %}

{% block content %}
  <!--[if lte IE 9]> <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p> <![endif]-->

  {# Add your site or application content here #}
  {% include "modules/mod_star_canvas.njk" %}
  {% include "modules/mod_name.njk" %}
  {% include "modules/mod_about_me.njk" %}
  {% include "modules/mod_contact_me.njk" %}
{% endblock content %}