{% extends "_base.njk" %}

{% set title = "HTML Template" %}

{% block content %}
  <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  {# Add your site or application content here #}
  <p>Hello world! These are the HTML Prototype Starter Files.</p>
{% endblock content %}
