<section id="about-me" class="scroll-section">
    <div class="scroll-section-wrapper about-me-wrapper">
        <div class="about-me-content">
            <h1>About Me</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean auctor nibh sed venenatis laoreet. Nunc pellentesque ante at ante ullamcorper efficitur. Mauris nec efficitur nisl. Phasellus sem urna, volutpat eget vestibulum nec, iaculis non nisl. Cras pellentesque, mi in lacinia suscipit, lacus velit accumsan eros, eu molestie urna odio quis sem. Vivamus imperdiet velit at massa tempor sagittis. Sed dignissim felis non risus hendrerit, quis mollis ante venenatis.</p>
            <p>Suspendisse nec feugiat turpis, vitae cursus nisi. Duis non ipsum tortor. Vivamus a malesuada turpis, vitae tincidunt arcu. Integer pellentesque arcu sapien, sed imperdiet magna fringilla lacinia. Aenean tempus nunc arcu, a porta dui fermentum at. Integer vehicula convallis massa et placerat. Fusce suscipit velit a tincidunt pretium. Phasellus condimentum metus id lectus placerat pharetra. Pellentesque quis dui lorem.</p>
        </div>
    </div>
</section>