<section id="name" class="section scroll-section">
    <div class="scroll-section-wrapper name-wrapper">
        <h1 class="h1-name">DUC THANH NGUYEN</h1>
        <h2 class="h2-title">a software engineer</h2>
        <h2 class="h2-title">an active developer</h2>
        <h2 class="h2-title">a technology enthusiast</h2>
        <h3 class="looking-for-job">Currently looking for a coop opportunity for Summer 2019 (May - August 2019)!</h3>
        <h3 class="h3-scroll-down">Scroll down to find out more about me</h3>
    </div>
</section>