.scroll-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 20px 0;
}

.scroll-section-wrapper {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}